{% extends "index.html" %}
{% block content %}
<h1>Maraphone</h1>
<h6>Id = {{ id }}</h6>

<div class="wrap">
    <form method="POST" name="days">
    <div>
        {% for day, status, can_touch in days %}
            <div class="col-md-6">
                <h3 class="mb-4 darkening" style="display: inline-block; border-radius: 5px;">{{ day }} |</h3>
                <div style="display: inline-block;">
                    {% if can_touch %}
                    <div>
                        {% if status %}
                        <div class="form-check">
                            <input name="check" class="form-check-input" type="checkbox" value="{{ day }}" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                            </label>
                          </div>
                        {% else %}
                        <div class="form-check">
                            <input name="check" class="form-check-input" type="checkbox" value="{{ day }}" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                            </label>
                        </div>
                        {% endif %}
                    </div>
                    {% else %}
                    <div>
                        {% if status %}
                        <div class="form-check">
                            <input name="check" class="form-check-input" type="checkbox" value="{{ day }}" id="flexCheckCheckedDisabled" checked disabled>
                            <label class="form-check-label" for="flexCheckCheckedDisabled">
                            </label>
                        </div>     
                        {% else %}
                        <div class="form-check">
                            <input name="check" class="form-check-input" type="checkbox" value="{{ day }}" id="flexCheckDisabled" disabled>
                            <label class="form-check-label" for="flexCheckDisabled">
                            </label>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="conrainer px-4 py-2">
        <button type="submit" class="btn btn-primary" style="border-radius: 12px;">Submit</button>
    </div>
    </form>
</div>

{% endblock %}